<div class="home__container">
  <app-card
  gameCover="https://upload.wikimedia.org/wikipedia/pt/9/96/The_Last_of_Us_2_capa.png"
  gameLink="https://store.playstation.com/pt-br/product/UP9000-CUSA07820_00-THELASTOFUSPART2"
  gameType="Digital PS4"
  gamePrice="R$ 199,50">
</app-card>
<app-card
  gameCover="https://cdn.mobygames.com/covers/3674167-the-crew-2-playstation-4-front-cover.jpg"
  gameLink="https://store.playstation.com/pt-br/product/UP0001-CUSA08600_00-THECREW2SCEA0000"
  gameType="Digital PS4"
  gamePrice="R$ 179,90">
</app-card>
<app-card
  gameCover="https://fifauteam.com/images/covers/fifa23/standard-cg.webp"
  gameLink="https://www.playstation.com/pt-br/games/ea-sports-fifa-23/"
  gameType="Digital PS5/PS4"
  gamePrice="R$ 338,90">
</app-card>
<app-card
  gameCover="assets/Minecraft_PS4_Cover.png"
  gameLink="https://store.playstation.com/pt-br/concept/212779"
  gameType="Digital PS4"
  gamePrice="R$ 83,50">
</app-card>
<app-card
  gameCover="assets/RE5_Art.png"
  gameLink="https://store.playstation.com/pt-br/product/UP0102-CUSA04437_00-RE5HDPS400000000"
  gameType="Digital PS4"
  gamePrice="R$ 149,99">
</app-card>
<app-card
  gameCover="https://hips.hearstapps.com/digitalspyuk.cdnds.net/13/14/gaming-gta5-cover.jpeg"
  gameLink="https://store.playstation.com/pt-br/product/UP1004-CUSA00419_00-PREMIUMPACKOG001"
  gameType="Digital PS4"
  gamePrice="R$ 159,90">
</app-card>
<app-card
  gameCover="https://image.api.playstation.com/vulcan/img/rnd/202011/0714/vuF88yWPSnDfmFJVTyNJpVwW.png"
  gameLink="https://store.playstation.com/pt-br/product/UP9000-CUSA02299_00-MARVELSSMGOTY000"
  gameType="Digital PS4"
  gamePrice="R$ 99,75">
</app-card>
<app-card
  gameCover="https://cdn.awsli.com.br/2500x2500/1313/1313910/produto/167974571/57-rl0zh4uwdn.jpg"
  gameLink="https://www.playstation.com/pt-br/games/god-of-war-ragnarok/?emcid=pa-co-473109&gclid=Cj0KCQjw06-oBhC6ARIsAGuzdw2H_90N8mdZSget3pcFLwqGt6pHNGYxI-sJGP8dtmTZlXedjqkQXFwaAqQsEALw_wcB"
  gameType="Digital PS5/PS4"
  gamePrice="R$ 349,90">
</app-card>
<app-card
  gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202112/0618/cFLNC3xYfEdDl7D1Wvu4MVb1.png"
  gameLink="https://store.playstation.com/pt-br/product/UP0002-CUSA15010_00-CODCWSTANDARD001"
  gameType="Digital PS4"
  gamePrice="R$ 92,36">
</app-card>
</div>
